.container {
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    max-width: 980px;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    background: #f3f4f6;
}

.parent {
    display: flex;
}

.child {
    color: #fff;
    border: solid 1px #fff;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    background-color: blue;
}