.container {
    flex-direction: column;
    max-width: 980px;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    background: #f3f4f6;
}

.parent {
    display: flex;
}

.child {
    text-align: center;
    width: 10%;
    height: 100%;
    margin: auto;
    padding: 1rem;
    background-color: #f3f4f6;
}